@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('fonts/digital-7_italic-webfont.eot');
    src: url('fonts/digital-7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('fonts/digital-7_italic-webfont.woff') format('woff'),
         url('fonts/digital-7_italic-webfont.ttf') format('truetype'),
         url('fonts/digital-7_italic-webfont.svg#digital-7_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: grey;
  padding: 1em;
  border-radius: 5%;
}
tr {
  height: 3em;
  margin-bottom: 1em;
}
th {
  background-color: white;
  border-radius: 10%;
  padding: 0.1em;
  font-family: 'digital-7_italicitalic';
}
td {
  width: 3em;
  padding: 0.1em;
}
button {
  width: 100%;
  height: 100%;
  border-radius: 10%;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  background-size: cover;
}